{% extends "base.html" %}

{% block active_cars %}
	class="active"
{% endblock active_cars %}

{% block content %}
		<div class="section">
			<div class="container text-center">
				<div class="btn-group">
					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-l steer_forward_left_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-l steer_backward_left_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>


					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-l steer_forward_left_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-l steer_backward_left_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>

					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u steer_forward_3">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u steer_forward_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u steer_forward_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d steer_backward_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d steer_backward_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d steer_backward_3">
						</button>
					</div>

					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-r steer_forward_right_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-r steer_backward_right_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>

					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-r steer_forward_right_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-r steer_backward_right_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>

				</div>	
				
					
			</div>
		</div>
{% endblock content %}

