<!DOCTYPE html>

{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href='{% static "style.css" %}'>
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">EPCarProject</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Cars</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav>
		

		<div class="section">
			<div class="container text-center">
				<div class="btn-group">
					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-l">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-l">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>


					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-l steer_forward_left_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-l">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>

					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u steer_forward_3">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u steer_forward_2">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u steer_forward_1">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d">
						</button>
					</div>

					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-r">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-r">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>

					<div class="btn-group-vertical col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-u-r">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top ui-icon-arrow-d-r">
						</button>
						
						<button id="steer_button" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-top">
						</button>
					</div>

				</div>	
				
					
			</div>
		</div>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
		<script type="text/javascript" src='{% static "steercar.js" %}'></script>
	</body>
	
	<script>
		$(function() {
			$(document).on("vmousedown", "#ledon", function(){
				console.log("vmousedown");
				alert("vmousedown");
			});
		});
	</script>

</html>
